<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center"> 
  <table>
    <tr>
      <td>Ln</td>
      <td>location</td>
      <td>lot</td>
      <td>sku</td>
      <td>allocatedQty</td>
      <td>pickedQty</td>
      <td>skippedQty</td>
    </tr>
    <tr *ngFor="let row of data; let i = index">
      <td><input type="number" [ngModel]="row.ln" readonly></td>
      <td><input type="text" [ngModel]="row.location" readonly></td>
      <td><input type="number" [ngModel]="row.lot" readonly></td>
      <td><input type="text" [ngModel]="row.sku" readonly></td>
      <td><input type="number" [ngModel]="row.allocatedQty" readonly></td>
      <td><input type="number" [ngModel]="row.pickedQty" (ngModelChange)="onChange(i, $event, 'pickedQty')"></td>
      <td><input type="number" [ngModel]="row.skippedQty" (ngModelChange)="onChange(i, $event, 'skippedQty')"></td>
    </tr>
  </table>
</div>